pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
tt, code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}
blockquote {
    margin: 0;
}
a {
    color: #4078c0;
    text-decoration: none;
}
.markdown {
    font-family:"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size:16px;
    line-height:1.6;
    word-wrap:break-word;
    padding:10px;
}
.markdown::before {
    display:table;
    content:""
}
.markdown::after {
    display:table;
    clear:both;
    content:""
}
.markdown>*:first-child {
    margin-top:0 !important
}
.markdown>*:last-child {
    margin-bottom:0 !important
}
.markdown a:not([href]) {
    color:inherit;
    text-decoration:none
}
.markdown p,.markdown blockquote,.markdown ul,.markdown ol,.markdown dl,.markdown table,.markdown pre {
    margin-top:0;
    margin-bottom:16px
}
.markdown hr {
    height:4px;
    padding:0;
    margin:16px 0;
    background-color:#e7e7e7;
    border:0 none
}
.markdown blockquote {
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd
}
.markdown blockquote>:first-child {
    margin-top:0
}
.markdown blockquote>:last-child {
    margin-bottom:0
}
.markdown kbd {
    display:inline-block;
    padding:3px 5px;
    font-size:11px;
    line-height:10px;
    color:#555;
    vertical-align:middle;
    background-color:#fcfcfc;
    border:solid 1px #ccc;
    border-bottom-color:#bbb;
    border-radius:3px;
    box-shadow:inset 0 -1px 0 #bbb
}
.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
    margin-top:1em;
    margin-bottom:16px;
    font-weight:bold;
    line-height:1.4
}
.markdown h1 tt,.markdown h1 code,.markdown h2 tt,.markdown h2 code,.markdown h3 tt,.markdown h3 code,.markdown h4 tt,.markdown h4 code,.markdown h5 tt,.markdown h5 code,.markdown h6 tt,.markdown h6 code {
    font-size:inherit
}
.markdown h1 {
    padding-bottom:0.3em;
    font-size:2.25em;
    line-height:1.2;
    border-bottom:1px solid #eee
}
.markdown h2 {
    padding-bottom:0.3em;
    font-size:1.75em;
    line-height:1.225;
    border-bottom:1px solid #eee
}
.markdown h3 {
    font-size:1.5em;
    line-height:1.43
}
.markdown h4 {
    font-size:1.25em
}
.markdown h5 {
    font-size:1em
}
.markdown h6 {
    font-size:1em;
    color:#777
}
.markdown ul,.markdown ol {
    padding-left:2em
}
.markdown ul.no-list,.markdown ol.no-list {
    padding:0;
    list-style-type:none
}
.markdown ul ul,.markdown ul ol,.markdown ol ol,.markdown ol ul {
    margin-top:0;
    margin-bottom:0
}
.markdown li>p {
    margin-top:16px
}
.markdown dl {
    padding:0
}
.markdown dl dt {
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:bold
}
.markdown dl dd {
    padding:0 16px;
    margin-bottom:16px
}
.markdown table {
    display:block;
    width:100%;
    overflow:auto;
    word-break:normal;
    word-break:keep-all
}
.markdown table th {
    font-weight:bold
}
.markdown table th,.markdown table td {
    padding:6px 13px;
    border:1px solid #ddd
}
.markdown table tr {
    background-color:#fff;
    border-top:1px solid #ccc
}
.markdown table tr:nth-child(2n) {
    background-color:#f8f8f8
}
.markdown img {
    max-width:100%;
    box-sizing:content-box;
    background-color:#fff
}
.markdown img[align=right] {
    padding-left:20px
}
.markdown img[align=left] {
    padding-right:20px
}
.markdown span.align-center {
    display:block;
    overflow:hidden;
    clear:both
}
.markdown span.align-right {
    display:block;
    overflow:hidden;
    clear:both
}
.markdown code,.markdown tt {
    padding:0;
    padding-top:0.2em;
    padding-bottom:0.2em;
    margin:0;
    font-size:85%;
    background-color:rgba(0,0,0,0.04);
    border-radius:3px
}
.markdown code::before,.markdown code::after,.markdown tt::before,.markdown tt::after {
    letter-spacing:-0.2em;
    content:"\00a0"
}
.markdown code br,.markdown tt br {
    display:none
}
.markdown del code {
    text-decoration:inherit
}
.markdown pre {
    word-wrap:normal
}
.markdown pre>code {
    padding:0;
    margin:0;
    font-size:100%;
    word-break:normal;
    white-space:pre;
    background:transparent;
    border:0
}
.markdown pre {
    padding:16px;
    overflow:auto;
    font-size:85%;
    line-height:1.45;
    background-color:#f7f7f7;
    border-radius:3px
}
.markdown pre code,.markdown pre tt {
    display:inline;
    max-width:auto;
    padding:0;
    margin:0;
    overflow:visible;
    line-height:inherit;
    word-wrap:normal;
    background-color:transparent;
    border:0
}
.markdown pre code::before,.markdown pre code::after,.markdown pre tt::before,.markdown pre tt::after {
    content:normal
}